@use "./global/bootstrap.scss";

.advantages-card {
  width: 100%;
  box-sizing: border-box;
  padding: 37px 18px 40px;
  background-color: bootstrap.$main-color;
  color: #ffffff;

  &--decorated {
    padding-top: 70px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background-color: #ffffff;
      background-repeat: no-repeat;
      width: 768px;
      height: 37px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  &--without-image {
    padding: 24px 8px 24px 8px;
  }
}

.advantages-card__title {
  margin: 0 auto 11px;
  text-align: center;
  max-width: 284px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  &--without-image {
    color: #000000;
  }
}

.advantages-card__number {
  display: block;
  margin: 0 auto 17px;
  text-align: center;
  max-width: 284px;
  text-transform: uppercase;

  &--without-image {
    color: #333333;
  }
}

.advantages-card__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 284px;
  text-transform: uppercase;

  &--without-image {
    color: #333333;
  }
}
