@use "../global/bootstrap.scss";

.advantages-card {
  width: 100%;
  box-sizing: border-box;
  padding: 38px 18px 38px;
  background-color: bootstrap.$main-color;
  color: #ffffff;

  @include bootstrap.tablet {
    padding: 42px 33px 41px;
  }

  @include bootstrap.desktop {
    padding: 52px 50px 51px;
  }

  &--reverse {
    padding: 38px 18px 34px;

    @include bootstrap.tablet {
      order: 2;
      padding: 44px 33px 41px;
    }

    @include bootstrap.desktop {
      padding: 54px 33px 41px;
    }
  }

  &--without-image {
    padding: 24px 8px 24px 8px;

    @include bootstrap.tablet {
      padding: 54px 33px 52px;
    }

    @include bootstrap.desktop {
      padding: 52px 50px;
    }
  }

  &--little-padding {
    @include bootstrap.tablet {
      padding: 44px 33px 42px;
    }

    @include bootstrap.desktop {
      padding: 52px 50px;
    }
  }
}

.advantages-card--decorated {
  padding-top: 70px;

  @include bootstrap.tablet {
    padding: 44px 0 40px;
  }

  @include bootstrap.desktop {
    padding-top: 52px;
  }

  &::before {
    content: "";
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 37px;
    clip-path: polygon(50% 100%, -65% 0, 165% 0);

    @include bootstrap.tablet {
      display: none;
    }
  }
}

.advantages-card__title {
  margin: 0 auto 12px;
  text-align: center;
  max-width: 284px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @include bootstrap.tablet {
    max-width: 185px;
    font-size: 21px;
  }

  &--without-image {
    color: #000000;

    @include bootstrap.tablet {
      max-width: 130px;
    }

    @include bootstrap.desktop {
      margin-bottom: 15px;
    }
  }
}

.advantages-card__number {
  display: block;
  margin: 0 auto 17px;
  text-align: center;
  max-width: 284px;
  text-transform: uppercase;

  &--without-image {
    color: #333333;
  }

  @include bootstrap.tablet {
    margin-bottom: 23px;
  }
}

.advantages-card__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 284px;
  text-transform: uppercase;

  @include bootstrap.tablet {
    max-width: 190px;
  }

  @include bootstrap.desktop {
    max-width: 262px;

    &--reverse {
      max-width: 220px;
    }
  }

  &--without-image {
    max-width: 256px;
    color: #333333;

    @include bootstrap.desktop {
      max-width: 286px;
    }
  }

  &--little-padding {
    @include bootstrap.tablet {
      max-width: 180px;
    }

    @include bootstrap.desktop {
      max-width: 280px;
    }
  }
}
