@use "../global/bootstrap.scss";

.bonuses-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 25px;

  @include bootstrap.tablet {
    grid-template-columns: repeat(3, minmax(256px, 1fr));
    justify-items: center;
    column-gap: 0;
  }
}

.bonuses-list__item {
  max-width: 284px;
  padding: 0 0 0 47px;
  position: relative;

  @include bootstrap.tablet {
    text-align: center;
    padding: 148px 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include bootstrap.desktop {
    padding: 159px 10px 69px;
  }
}

.bonuses-list__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include bootstrap.tablet {
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
  }

  @include bootstrap.desktop {
    top: 69px;
  }
}


.bonuses-list__item--housing {
  &::before {
    background-image: url("../img/svg/icon-house.svg");

    @include bootstrap.desktop {
      top: 63px;
    }
  }
}

.bonuses-list__item--food {
  &::before {
    background-image: url("../img/svg/icon-burger.svg");

    @include bootstrap.desktop {
      top: 66px;
    }
  }
}

.bonuses-list__item--souvenirs {
  @include bootstrap.tablet {
    padding-top: 144px;
  }

  @include bootstrap.desktop {
    padding-top: 160px;
  }

  &::before {
    background-image: url("../img/svg/icon-gift.svg");

    @include bootstrap.tablet {
      top: 61px;
      left: 51%;
    }

    @include bootstrap.desktop {
      top: 67px;
      left: 49%;
    }
  }
}


.bonuses-list__title {
  margin: 9px 0 16px;
  max-width: 237px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @include bootstrap.tablet {
    max-width: 190px;
    font-size: 21px;
    margin-bottom: 23px;
  }

  @include bootstrap.desktop {
    max-width: 300px;
  }
}

.bonuses-list__subtitle {
  margin: 0;
  max-width: 237px;
  text-transform: uppercase;
  color: #333333;

  @include bootstrap.tablet {
    max-width: 182px;
  }

  @include bootstrap.desktop {
    max-width: 300px;
  }
}

.bonuses-list__inverse-paragraph {
  display: none;

  @include bootstrap.desktop {
    display: block;
  }
}
