@use "../global/bootstrap.scss";

.booking {
  padding: 39px 18px 49px;

  @include bootstrap.tablet {
    padding: 66px 18px 58px;
  }

  @include bootstrap.desktop {
    padding: 60px 18px 67px;
  }
}

.booking__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.booking__heading {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 260px;
  margin: 0 0 21px;

  @include bootstrap.tablet {
    margin-bottom: 32px;
    font-size: 30px;
    max-width: 320px;
  }
}

.booking__inverse-paragraph {
  display: none;

  @include bootstrap.tablet {
    display: block;
  }
}

.booking__subtitle {
  text-transform: uppercase;
  max-width: 262px;
  margin: 0 0 32px;
  text-align: center;

  @include bootstrap.tablet {
    margin-bottom: 35px;
    max-width: 435px;
  }

  @include bootstrap.desktop {
    margin-bottom: 45px;
  }
}

.booking__button {
  width: 284px;

  @include bootstrap.tablet {
    width: 458px;
  }
}
