@use "../global/bootstrap.scss";

.button {
  font-family: bootstrap.$font-name;
  background-color: bootstrap.$main-color;
  padding: 16px 49px 16px 49px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    pointer-events: none;
    background-color: #e5e5e5;
  }

  &--disabled {
    pointer-events: none;
    background-color: #e5e5e5;
  }
}
