@use "../global/bootstrap.scss";

.copyrights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyrights__link {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyrights__text {
  color: inherit;
  text-transform: uppercase;
  margin-right: 12px;
}

.copyrights__image {
  color: inherit;
}
