@use "../global/bootstrap.scss";

.feedback-heading {
  box-sizing: border-box;
  padding: 36px 20px 28px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  @include bootstrap.tablet {
    width: 100%;
    border: none;
    padding: 115px 20px 33px;
  }

  @include bootstrap.desktop {
    padding: 64px 20px 51px;
  }
}

.feedback-heading__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 24px;
  max-width: 280px;
  text-align: center;

  @include bootstrap.tablet {
    font-size: 30px;
    max-width: 320px;
  }
}

.feedback-heading__subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  max-width: 280px;
  text-align: center;

  @include bootstrap.tablet {
    max-width: 435px;
    line-height: 24px;
  }

  @include bootstrap.desktop {
    line-height: 21px;
  }
}
