@use "../global/bootstrap.scss";

.intro {
  width: 100%;
  position: relative;
  padding: 90px 0 85px;
  background-image: url("../img/decoration-images/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: bootstrap.$main-color;
  overflow: hidden;

  @include bootstrap.tablet {
    padding: 77px 0 91px;
  }

  @include bootstrap.desktop {
    padding: 78px 0 90px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: url("../img/decoration-images/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 57px;
  }

  &--not-index-page {
    background-image: url("../img/decoration-images/intro-background-feedback.jpg");
    background-position: bottom;
    background-size: 282%;
    padding: 52px 0 67px;

    @include bootstrap.tablet {
      padding: 95px 0 117px;
      background-size: 156%;
    }

    @include bootstrap.desktop {
      padding: 101px 0 120px;
      background-size: 100%;
    }
  }
}

.intro__image {
  display: flex;
  margin: 0 auto;

  @include bootstrap.tablet {
    width: 460px;
    height: 350px;
  }

  &--not-index-page {
    @include bootstrap.tablet {
      width: 457px;
      height: 78px;
    }

    @include bootstrap.desktop {
      width: 458px;
      height: 80px;
    }
  }
}
