@use "../global/bootstrap.scss";

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  margin-top: auto;
  display: flex;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 38px 82px 23px;

  @include bootstrap.tablet {
    padding: 37px 76px 36px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  @include bootstrap.desktop {
    padding: 36px 136px 36px 119px;
  }

  &--catalog {
    padding: 29px 82px 23px;

    @include bootstrap.tablet {
      padding: 76px 60px 36px 60px;
    }

    @include bootstrap.desktop {
      padding: 76px 120px 36px 120px;
    }
  }
}

.main-footer__hashtag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
  max-width: 180px;

  @include bootstrap.tablet {
    margin-bottom: 0;
  }
}

.main-footer__socials {
  margin-bottom: 40px;

  @include bootstrap.tablet {
    margin-bottom: 0;
    padding-left: 11px;
  }

  &--catalog {
    @include bootstrap.tablet {
      padding: 0 8px 0 0;
    }
  }
}
