@use "../global/bootstrap.scss";

.main-header {
  padding: 17px 0;

  @include bootstrap.tablet {
    padding: 2px 0;
  }
}

.main-header__navigation {
  min-height: 22px;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
