@use "../global/bootstrap.scss";

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;

  @include bootstrap.tablet {
    padding-bottom: 56px;
  }

  @include bootstrap.desktop {
    padding-bottom: 62px;
  }
}

.photos__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 6px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;

  @include bootstrap.tablet {
    min-width: 468px;
    border: none;
    padding: 66px 20px 31px;
  }

  @include bootstrap.desktop {
    padding-top: 100px;
  }
}

.photos__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 25px;
  max-width: 400px;

  @include bootstrap.tablet {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.photos__subtitle {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  max-width: 458px;

  @include bootstrap.tablet {
    padding-bottom: 50px;
    max-width: 440px;
  }

  @include bootstrap.desktop {
    padding-bottom: 56px;
  }
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  width: 100%;

  @include bootstrap.tablet {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  }
}

.photos__item {
  box-sizing: border-box;
  padding: 24px 20px 20px;

  @include bootstrap.tablet {
    padding: 0;
    width: 100%;
  }
}
