@use "../global/bootstrap.scss";

.photo-card {
  border-bottom: 1px solid #e5e5e5;
  position: relative;

  @include bootstrap.tablet {
    border-bottom: none;
    background-color: #f2f2f2;
  }
}

.photo-card:nth-of-type(odd):not(:first-of-type) {
  @include bootstrap.tablet {
    background-color: #eaeaea;
  }
}

.photo-card--full-viewport {
  @include bootstrap.tablet {
    grid-column: 1/-1;
  }
}

.photo-card__link {
  display: block;
  margin-bottom: 15px;
  transition-property: box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease;

  @include bootstrap.tablet {
    width: 100%;
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.6);
  }

  &:active {
    box-shadow: 2px 0 10px 2px rgba(129, 179, 210, 0.8);
  }
}

.photo-card__image {
  display: block;
  object-fit: cover;
  width: 100%;

  @include bootstrap.tablet {
    width: 100%;
    height: 267px;
  }
}

.photo-card__image--full-viewport {
  @include bootstrap.tablet {
    height: 400px;
  }
}

.photo-card__container {
  @include bootstrap.tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  @include bootstrap.desktop {
    position: absolute;
    padding: 17px 20px 17px 25px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo-card__container--full-viewport {
  @include bootstrap.desktop {
    padding: 22px 20px 15px 21px;
  }
}

.photo-card__caption-wrapper {
  margin-bottom: 11px;

  @include bootstrap.tablet {
    margin: 0;
  }
}

.photo-card__caption {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1px;

  @include bootstrap.desktop {
    color: #ffffff;
  }
}

.photo-card__author {
  color: #333333;
  margin: 0;

  @include bootstrap.desktop {
    color: #ffffff;
  }
}

.photo-card__like-wrapper {
  display: flex;
  padding-bottom: 5px;
  max-width: 80px;
}

.photo-card__like-quantity {
  display: flex;
  font-weight: 700;
  padding-top: 5px;
}

.photo-card__like-button {
  display: flex;
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
  color: #000000;
  opacity: 0.3;

  @include bootstrap.tablet {
    margin-right: 9px;
  }

  @include bootstrap.desktop {
    color: #ffffff;
    opacity: 1;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
