@use "../global/bootstrap.scss";

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 17px;

  @include bootstrap.tablet {
    padding: 0;
  }

  @include bootstrap.desktop {
    padding-bottom: 44px;
  }
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 27px 0;
  max-width: 446px;
  text-align: center;
  padding: 0 20px;

  @include bootstrap.tablet {
    font-size: 30px;
    max-width: 446px;
    margin: 0 0 32px 0;
  }
}

.presentation__subtitle {
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 38px 0;
  min-width: 270px;
  text-align: center;
  padding: 0 20px;

  @include bootstrap.tablet {
    margin-bottom: 89px;
    max-width: 446px;
  }

  @include bootstrap.desktop {
    margin-bottom: 85px;
  }
}

.presentation__video-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.presentation__video {
  background-image: image-set(
    url("../img/decoration-images/video-mobile@1x.webp") 1x,
    url("../img/decoration-images/video-mobile@2x.webp") 2x,
    url("../img/decoration-images/video-mobile@1x.jpg") 1x,
    url("../img/decoration-images/video-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  @include bootstrap.tablet {
    background-image: image-set(
      url("../img/decoration-images/video-tablet@1x.webp") 1x,
      url("../img/decoration-images/video-tablet@2x.webp") 2x,
      url("../img/decoration-images/video-tablet@1x.jpg") 1x,
      url("../img/decoration-images/video-tablet@2x.jpg") 2x
    );
    width: 648px;
    height: 500px;
  }

  @include bootstrap.desktop {
    background-image: image-set(
      url("../img/decoration-images/video-desktop@1x.webp") 1x,
      url("../img/decoration-images/video-desktop@2x.webp") 2x,
      url("../img/decoration-images/video-desktop@1x.jpg") 1x,
      url("../img/decoration-images/video-desktop@2x.jpg") 2x
    );
    width: 800px;
  }
}

.presentation__play-video-button {
  width: 48px;
  height: 54px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url("../img/decoration-images/play-video-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  z-index: 2;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
