@use "../global/bootstrap.scss";

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: bootstrap.$main-color;
  color: #ffffff;
  width: 100%;

  @include bootstrap.tablet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    background-color: #ffffff;
    color: #000000;
  }

  &::before {
    content: "";
    grid-column: 3/4;
    grid-row: span 2;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -1px rgba(1, 1, 1, 0.2), inset 0 1px rgba(255, 255, 255, 0.2);

  &:last-child {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 0.2) 100%);

    @include bootstrap.tablet {
      background-image: none;
    }
  }

  &:first-child {
    box-shadow: inset 0 -1px rgba(1, 1, 1, 0.2);

    @include bootstrap.tablet {
      box-shadow: none;
    }
  }

  @include bootstrap.tablet {
    box-shadow: none;
    width: 153px;
  }

  @include bootstrap.desktop {
    width: 240px;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 17px 20px 14px;
  width: 100%;
  color: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &--current {
    pointer-events: none;

    @include bootstrap.tablet {
      color: #766357;
    }
  }

  @include bootstrap.tablet {
    font-size: 14px;
    line-height: 21px;
    padding: 18px 4px 17px;

    &:hover {
      background-color: transparent;
      color: #81b3d2;
    }

    &:active {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
