@use "../global/bootstrap.scss";

.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  gap: 6px;
  max-width: 210px;
}

.socials__link {
  display: flex;
  background-color: bootstrap.$main-color;
  width: 48px;
  height: 48px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
